name: Workflow Filter and Activities

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "!feature/*"
    # branches-ignore:
    #   - feature/*
    #   - test/**

  pull_request:
    types:
      - opened
      - closed
    paths-ignore:
      - README.md
    branches:
      - main

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Hello, this is the workflow filter example!"
